<div class="user-profile">
  <div class="container">
    <h1>User Profile</h1>
    <div class="profile-info">
      <p><strong>Name:</strong> {{ user.name }}</p>
      <p><strong>Nachname:</strong> {{ user.nachname }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
    </div>
    <div class="change-password">
      <h3>Passwort ändern</h3>
      <form (ngSubmit)="changePassword()">
        <div class="set-password">
          <label for="currentPassword">Aktuelles Passwort:</label> <br>
          <input type="password" id="currentPassword" [(ngModel)]="currentPassword" name="currentPassword" required />
        </div>
        <div class="set-password">
          <label for="newPassword">Neues Passwort:</label> <br>
          <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required />
        </div>
        <button type="submit" class="change-btn">Ändern</button>
      </form>
      <button (click)="goToDashboard()">Zurück zum Dashboard</button>
      <button (click)="deleteAccount()">Delete Account</button>
    </div>
  </div>
</div>