<div class="dashboard-container">
  <div class="header">
    <span class="date">{{ currentDate }}</span>
    <span class="user-name">{{ userName }}</span>
  </div>

  <div class="main-content">
    <h1>Veranstaltungen</h1>

    <div class="create-event">
      <h2>Neues Event erstellen</h2>
      
      <label for="title">Event-Titel: </label>
      <select id="title" [(ngModel)]="newEvent.title">
        <option value="">Bitte auswählen</option>
        <option *ngFor="let type of eventTypes" [value]="type.name">
          {{ type.name }}
        </option>
      </select>
      <br>

      <label *ngIf="newEvent.title === 'custom'" for="customTitle">Benutzerdefinierter Titel:</label>
      <input
        *ngIf="newEvent.title === 'custom'"
        id="customTitle"
        type="text"
        [(ngModel)]="newEvent.title"
        placeholder="Benutzerdefinierter Titel"
      />

      <label for="description">Beschreibung:</label>
      <textarea id="description" [(ngModel)]="newEvent.description" placeholder="Event Beschreibung"></textarea>
      
      <label for="plz">PLZ:</label>
      <input id="plz" type="text" [(ngModel)]="newEvent.plz" placeholder="PLZ">

      <button (click)="createEvent()">Event Erstellen</button>
    </div>

    <div class="filter-events">
      <h2>Events nach PLZ filtern</h2>
      <input type="text" [(ngModel)]="filterPlz" placeholder="PLZ eingeben">
      <button (click)="filterEvents()">Filtern</button>
    </div>
    <div class="calendar-container">
      <h2>Kalender</h2>
      <!-- Datums-Input -->
      <input 
        type="date" 
        [(ngModel)]="selectedDate" 
        (ngModelChange)="onDateSelected()" 
        class="form-input"
      />
    </div>
    
    <!-- Events für das ausgewählte Datum -->
    <div class="selected-day-events" *ngIf="selectedDayEvents.length > 0">
      <h3>Events am {{ selectedDate | date: 'longDate' }}</h3>
      <div *ngFor="let event of selectedDayEvents" class="event-item">
        <h4>{{ event.title }}</h4>
        <p>{{ event.description }}</p>
        <p>PLZ: {{ event.plz }}</p>
      </div>
    </div>

        <!-- Nachricht anzeigen, wenn keine Events vorhanden sind -->
        <div *ngIf="selectedDate && selectedDayEvents.length === 0">
          <p>Keine Events für das ausgewählte Datum.</p>
        </div>

    <!-- Event List -->
    <div class="event-list">
      <h2>Eventliste</h2>
      <div *ngFor="let event of filteredEvents" class="event-item">
        <h3>{{ event.title }}</h3>
        <p>Beschreibung: {{ event.description }}</p>
        <p>PLZ: {{ event.plz }}</p>
      </div>
    </div>
    <div class="footer">
      <div class="buttons">
        <button (click)="logout()">Logout</button>
        <button (click)="goToUserProfile()">Go to User Profile</button>
        <button (click)="goToEinkaufen()">Einkaufen</button>
        <button (click)="goToSport()">Sport</button>
        <button (click)="goToTreffen()">Treffen</button>
        <button (click)="goToFeier()">Feier</button>
        <button (click)="goToEigenes()">Eigenes</button>
      </div>
    </div>
  </div>
</div>
