.dashboard-container {
  width: 100%;
  min-width: fit-content;
  height: 100vh;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-image: linear-gradient(to bottom right, white, rgb(0, 180, 0));
  margin: 0;
}

.header {
  width: 40%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 14px;
}

.date,
.user-name {
  font-weight: bold;
  color: black;
}

.main-content {
  width: 40%;
  min-width: fit-content;
  height: 50vh;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
  border-radius: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 1%;
}

h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

button {
  min-width: fit-content;
  background-color: rgb(20, 200, 50);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
}

button:hover {
  background-color: rgb(20, 170, 50);
}

#title {
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
}

.create-event {
  width: 50%;
  display: inline-block;
}

.filter-events {
  width: 50%;
  display: inline-block;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.event-list .event-item {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.event-list .event-item h3 {
  font-size: 18px;
  flex: 1;
}

.event-list .event-item p {
  font-size: 14px;
  color: #777;
}

.buttons {
  min-width: 20%;
  max-width: fit-content;
  display: flex;
}

.buttons button {
  margin-left: 5px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
