.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .date {
    font-size: 16px;
  }
  
  .user-name {
    font-size: 16px;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  /* dashboard.component.css */
button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  background-color: #ff1a1a;
}
/* dashboard.component.css */
.user-name {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.user-name:hover {
  color: darkblue;
}
